/**
 * @description    Colour palette
 *
 *      @author    Kristina Auckland <Kristina.Auckland@bss.org>
 *     @version    0.1
 *        @date    2013-09-08 15:27
 *
 *
 *     @example
 *
 *
 *        @type    variables
 *       @notes
 *      @ignore
 *
 */

/**
* @section        Base colours
*/
$color-black:                   #000;
$color-white:                   #fff;

/**
* @section        Colour red
*/
$color-brand-red  :             red; // Red

/**
* @section        Colour green
*/
$color-brand-green        :     green; // Green

/**
* @section        Colour blue
*/
$color-brand-blue      :        #2DB4D4; // Regal Blue

/**
* @section        Other company brand colours
*/
$color-twitter        :         #02aced; // https://twitter.com/logo
$color-facebook       :         #3b5998; //
$color-linkedin       :         #4875b4; // http://developer.linkedin.com/documents/branding-guidelines

/**
* @section        Colour complementary
*/
$color-brand-complementary1:    #dfcdb4;
$color-brand-complementary2:    #fbeed3;

/**
* @section        Colour
*/
$color-copy              :      $color-black;
$color-link              :      $color-brand-red;
$color-page-bg           :      $color-white;
$color-nav-primary-bg    :      $color-brand-blue;
$color-nav-primary       :      $color-white;
$color-nav-primary-active:      darken($color-white, 17.25%);         // output = #d3d3d3
$color-form-bg           :      darken($color-white, 4.75%);          // output = #f3f3f3
$color-form-input        :      darken($color-white, 10.5%);          // output = #e4e4e4
$color-form-field-success:      $color-brand-green;
$color-form-field-error  :      $color-brand-red;

$color-button            :      $color-brand-red;
$color-border            :      $color-brand-blue;
$color-shadow            :      lighten($color-black, 30%);
$color-drop-shadow       :      darken($color-white, 13%);            // output = #dedede
$color-mark              :      $color-brand-complementary2;
$color-selection         :      $color-brand-complementary2;
